@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #2c3e50;
}

textarea {
  padding: 15px;
}

/* typewriter-animaatio */
textarea::placeholder {
  animation: typewriter 3s steps(20) infinite;
}

textarea::-moz-placeholder {
  animation: typewriter 3s steps(20) infinite;
}

textarea::-webkit-input-placeholder {
  animation: typewriter 3s steps(20) infinite;
}

/* kirjoitusefekti */
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* latausanimaatio */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/* iframe */

iframe {
  resize: both;
}

@font-face {
  font-family: "sometype";
  src: url("./assets/fonts/SometypeMono-VariableFont_wght.ttf");
}

@font-face {
  font-family: "sourcecode";
  src: url("./assets/fonts/SourceCodePro-VariableFont_wght.ttf");
}
